/*COLOUR SCHEME
OFF-WHITE: #E8F3D6;
LIGHT-YELLOW: #FCF9BE;
ORANGE1: #FFDCA9;
ORANGE2: #FAAB78;*/

/*HEADER SECTION*/

.nav1 {
	background-color: #FCF9BE;
	font-family: 'Poppins', sans-serif;
	font-size: 1.1rem;
	padding-top: 0;
	padding-bottom: 0;
}

.nav-item {
	padding-left: 10px;
}

.brand-logo {
	width: 40px;
	margin-bottom: 15px;
	margin-right: 10px;
}

@media only screen and (max-width: 480px) {
	.brand-logo {
		width: 25px;
		margin-bottom: 10px;
	}
}

.user-pfp {
	width: 40px;
	border-radius: 50%;
}

.nav1 .navbar-brand {
	font-family: 'Pacifico', cursive;
	font-size: 2rem;
}

@media only screen and (max-width: 480px) {
	.nav1 .navbar-brand {
		font-size: 1.2rem;
	}
	.navbar-toggler {
		padding: 2px 6px 2px 6px;
	}
	.navbar-toggler-icon {
		width: 5vw;
	}
}

.nav2 {
	background-color: darkslategrey;
	font-family: 'Poppins', sans-serif;
}

.vr {
	color: white;
}

span.navbar-brand {
	padding-left: 10px;
}

button.nav2 {
	margin-right: 12px;
}


/*BODY SECTION*/

#carousel {
	background-color: #FFDCA9;
	padding: 0;
}

@media screen (max-width: 1200px) {
	.container-xl {
		padding: 0;
		margin: 0;
		height: 60%;
	}
}

body {
	background-color: #E8F3D6;
}


/*CARDS SECTION*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: "Poppins", sans-serif;
    color: #444444;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products {
    padding: 80px 0 54px;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
    background: url("https://i.ibb.co/L8Nrb7p/1.jpg") no-repeat center;
    background-size: cover;
		transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background: url("https://i.ibb.co/cLnZjnS/2.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-3 .part-1::before {
    background: url("https://i.ibb.co/L8Nrb7p/1.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-4 .part-1::before {
    background: url("https://i.ibb.co/cLnZjnS/2.jpg") no-repeat center;
    background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}